@import "tailwindcss";

/* 1. Import and configure daisyUI all at once */
@plugin "daisyui" {
  themes: light --default;
}

/* Ensure this correctly jumps out of /app/ into /components/ */
@source "../../components/**/*.{js,ts,jsx,tsx}";

:root {
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: white;
  color: black;
  font-family: monospace, sans-serif;
}
